<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里对用接口的名称 -->
<mapper namespace="com.mapper.CollectionMapper">

	<!-- column是数据库的列名。而property是对象 -->
	<resultMap type="CollectionDao" id="collection">
		<result column="id" property="id" />
		<result column="view_show_id" property="view_show_id" />
		<result column="who_collection" property="who_collection" />
	</resultMap>
	
	<!-- 特别注意：这里是基本数据类型要使用resultType-->
	<select id="list_collection" resultType="java.lang.Long">
		select view_show_id from collection WHERE
		who_collection=#{who_collection}
	</select>
	
	<select id="get" resultMap="collection">
		select * from collection where view_show_id=#{view_show_id} and
		who_collection=#{who_collection} 
	</select>

	<insert id="insert">
		insert ignore into
		<choose>
			<when test="id == null">
				collection(view_show_id,who_collection) values(#{view_show_id},#{who_collection})
			</when>
			<otherwise>
				collection(id,view_show_id,who_collection)
				values(#{id},#{view_show_id},#{who_collection})
			</otherwise>
		</choose>
	</insert>

	<!-- 特别注意：这里进行删除，传入的参数第一个一定要是tour_id，第二个一定要是guide_id -->
	<delete id="delete">
		DELETE from collection
		where view_show_id=#{view_show_id} AND who_collection=#{who_collection}
	</delete>

	<delete id="deleteByViewShowId">
		DELETE from collection
		where view_show_id=#{view_show_id}
	</delete>

</mapper>