<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这里对用接口的名称 -->
<mapper namespace="com.mapper.StarCollectionMapper">

	<!-- column是数据库的列名。而property是对象 -->
	<resultMap type="StarCollectionDao" id="starCollectionDao">
		<result column="id" property="id" />
		<result column="view_show_id" property="view_show_id" />
		<result column="star" property="star" />
		<result column="collection" property="collection" />
	</resultMap>
	
	<!-- 特别注意：这里是基本数据类型要使用resultType-->
	<select id="get" resultMap="starCollectionDao">
		select * from star_collection WHERE
		view_show_id=#{view_show_id}
	</select>

	<insert id="insert">
		insert ignore into
		<choose>
			<when test="id == null">
				star_collection(view_show_id,star,collection) values(#{view_show_id},#{star},#{collection})
			</when>
			<otherwise>
				star_collection(id,view_show_id,star,collection)
				values(#{id},#{view_show_id},#{star},#{collection})
			</otherwise>
		</choose>
	</insert>

	<!-- 特别注意：这里进行删除，传入的参数第一个一定要是tour_id，第二个一定要是guide_id -->
	<delete id="delete">
		DELETE from star_collection
		where view_show_id=#{view_show_id}
	</delete>
	
	<update id="update_add_star">
		update star_collection set star=star+1 where view_show_id=#{view_show_id}
	</update>
	
	<update id="update_sub_star">
		update star_collection set star=star-1 where view_show_id=#{view_show_id}
	</update>
	
	<update id="update_add_collection">
		update star_collection set collection=collection+1 where view_show_id=#{view_show_id}
	</update>
	
	<update id="update_sub_collection">
		update star_collection set collection=collection-1 where view_show_id=#{view_show_id}
	</update>
	

</mapper>